.demo-header {
  position: relative;
}

.demo-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.demo-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.demo-navigation-row .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.demo-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 42px;
}

.demo-header .mdl-layout__drawer-button {
  background-color: rgba(197, 197, 197, 0.44);
}

.demo-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.demo-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 64, 129);
  left: 15%;
}
